:root {
    --font-color: #f0f0f0;
    --bg-color: #1a1a1f;
    --accent-color: #015bd1;
    --elem-color: #35353A;
    --header-color: #22222a;
    --header-color-hover: #25252d;
}
h1 {
    font-size: 32px;
    padding: 0px;
}
h2 {
    font-size: 30px;
    padding: 0px;
}
h3 {
    font-size: 28px;
    padding: 0px;
}
h4 {
    font-size: 26px;
    padding: 0px;
}
h5 {
    font-size: 24px;
    padding: 0px;
}
h6 {
    font-size: 22px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 8px;
}
button {
    background-color: var(--elem-color);
    border: solid 1px #00000000;
    font-size: 14px;
    color: var(--font-color);
    display: inline-block;
    border-radius: 4px;
    margin: 2px 0px;
    padding: 6px 12px;
}
input {
    background-color: var(--elem-color);
    margin: 2px 0px 4px 0px;
    border: solid 1px #00000000;
    font-size: 16px;
    color: var(--font-color);
    display: inline-block;
    border-radius: 4px;
    padding: 4px 8px 6px 8px;
    height: 20px;
    transform: translateY(1px);
}
select {
    background-color: var(--elem-color);
    margin: 2px 0px;
    border: solid 1px #00000000;
    font-size: 14px;
    color: var(--font-color);
    display: inline-block;
    border-radius: 4px;
    padding: 5px 4px;
}
button:hover {
    border: solid 1px var(--accent-color);
}
select:hover, input:focus, button:focus, select:focus {
    border: solid 1px var(--accent-color);
}
button:active, select:active {
    border: solid 1px var(--accent-color);
    background-color: var(--accent-color);
}
button:focus, input:focus, select:focus {
    outline: none;
}
select option {
    background-color: var(--elem-color);
}
html, body {
    background-color: var(--bg-color);
    outline: none;
    cursor: default;
    padding: 0;
    margin: 0;
}
html {
    font-size: 18px;
    height: 100%;
}
body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-size: 18px;
    position: relative;
    width: 100%;
}
code {
    display: inline-block;
    font-family: Hack, Courier New, monospace;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    word-break: break-word;
}
code_rem {
    color: #757a88;
}
code_cmd {
    color: #3672f3;
}
code_kw {
    color: #d1c45d;
}
code_ns {
    color: #4ea1ce;
}
code_type {
    color: #44c7ad;
}
code_var {
    /*color: #808080;*/
}
code_func {
    /*color: #808080;*/
}
code_num {
    color: #e13f39;
}
code_str {
    color: #4fce3c;
}
code_fmt {
    color: #8a9c86;
}
note {
    color: #ffe28b;
    font-style: italic;
}
warn {
    color: #ff3b3a;
    font-weight: bold;
    font-style: oblique;
}
error {
    font-family: monospace;
    color: #cc0000;
}
disabled {
    color: #999999;
}
.code {
    display: inline-block;
    width: calc(100% - 20px);
    margin: 10px 0px;
    font-family: Hack, Courier New, monospace;
    line-height: 1.375;
    padding: 8px 10px;
}
code, .code {
    cursor: auto;
    background: var(--elem-color);
    font-size: 16px;
    color: #D4D4D4;
    border-radius: 5px 5px 5px 5px;
}
.text {
    color: var(--font-color);
}
.divider {
    display: block;
    padding: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    background: var(--elem-color);
    border-radius: 2px 2px 2px 2px;
    position: relative;
}
.header {
    /*border-radius: 0px 0px 5px 5px;*/
    font-size: 32px;
    position: relative;
    padding: 0px 0px;
    padding-bottom: 3px;
    padding-top: 1px;
    transform: translateY(-14px);
    z-index: 1;
}
.footer {
    padding-bottom: 6px;
    font-size: 12px;
    /*border-radius: 5px 5px 0px 0px;*/
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}
.header, .footer {
    color: var(--font-color);
    background: var(--header-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.header:hover, .footer:hover {
    background: var(--header-color-hover);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.65);
}
.normcur {cursor: default;}
.linkcur {cursor: pointer;}
a {
    color: #72c4ff;
    outline: none;
}
.hlink:link {
    text-decoration: none;
}
.hlink:visited {
    text-decoration: none;
}
.hlink:hover {
    text-decoration: none;
}
.hlink:active {
    text-decoration: none;
}
.slink:link {
    text-decoration: none;
}
.slink:visited {
    text-decoration: none;
}
.slink:hover {
    text-decoration: underline;
}
.slink:active {
    text-decoration: underline;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
ul {
    margin-top: 8px;
    margin-bottom: 8px;
}
.dent {
    display: inline-block;
    padding-left: 40px;
    margin-bottom: 4px;
}
.linkspan {
    display: table-cell;
    display: inline-block;
    white-space: nowrap;
}
.content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    flex: 1;
}
.document {
    padding: 24px 0px 28px 0px;
    display: block;
    width: 95%;
    height: 100%;
    min-height: 100%;
    margin: auto;
    flex-direction: column;
    flex: 1;
}
.dynamic {
    display: flex;
    width: calc(100% - 26px);
    height: 100%;
    min-height: 100%;
    margin: auto;
    flex-direction: column;
    flex: 1;
}
