            </div>
            <div style="height: 16px;"></div>
            <p style="font-size: 14px; margin-bottom: 0px; margin-top: 28px;"><br></p>
            <div class="footer" style="padding-top: 5px;">
                <div style="white-space: nowrap; float: left; display: table-cell; transform: translateY(-1px);">
                    <span style="padding: 0px 4px;"></span>
                    <div style="white-space: nowrap; display: inline-block;">
                        <div style="display: inline-block; white-space: nowrap;">
                            <a HREF="https://www.github.com/PQCraft" target="_blank" class="hlink text">
                                Site designed by PQCraft
                            </a>
                        </div>
                    </div>
                    <span style="padding: 0px 12px;"></span>
                </div>
                <div style="width: 100%; text-align: right; white-space: normal; display: table-cell; transform: translateY(-1px);">
                    <div style="white-space: nowrap; display: inline-block;">
                        <div style="display: inline-block; white-space: nowrap;">
                            <a HREF="https://github.com/Wizardry-PL" target="_blank" class="hlink">
                                <img src="/resources/gh.png" style="width: 12px; height: 12px; padding: 0px 2px; transform: translateY(2px); display: inline-block;" />
                                <span class="text slink">Github</span>
                            </a>
                        </div>
                    </div>
                </div>
                <span style="display: table-cell; padding: 0px 4px; height: 1px;"></span>
            </div>
        </div>
    </body>
    <script>
        function pgload() {
            document.createElement('tb');
            var tagdata = document.getElementsByTagName("*");
            var tags = tagdata.length;
            for (var i = 0; i < tags; ++i) {
                var t = tagdata[i];
                if (t.outerHTML.substring(0, 4) === '<tb>') {
                    t.outerHTML = t.outerHTML.replace(/^.{4}/g, '&nbsp;&nbsp;&nbsp;&nbsp;');
                    --tags;
                    --i;
                }
            }
        }
        pgload();
    </script>
</html>
